.btn {
  @include flex-center-align;
  @include mode-colors;  
  width: 15rem;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 3px rgba(204, 204, 204, 0.75);
  transition: background-color cubic-bezier(.34,.1,1,1.4) 0.3s;

  &:hover,
  &:focus {
    background-color: rgba($bgHover, 0.45);
  }

  &--mini {
    width: 10rem;
    padding: 0.5rem;
    margin: 1.5rem;
    margin-left: 0;
  }
}