.btn {
  @include flex-center-align;
  width: 15rem;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  border-radius: 3px;
  color: $fontColorLightM;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 1px 3px 1px rgba($boxShadowLight, 0.82);
  transition: background-color cubic-bezier(.34,.1,1,1.4) 0.3s;

  &:hover,
  &:focus {
    background-color: rgba($bgHover, 0.45);
  }
}