.dark-mode {
  color: $fontColorDarkM;
  background-color: $darkMode;
  box-shadow: 0px 0px 4px 1px $boxShadowDark;

  &--alt {
    background-color: $heavyDark;
  }
}

.light-mode {
  color: $fontColorLightM;
  background-color: $lightMode;
  box-shadow: 0px 1px 3px 1px $boxShadowLight
}

.mg-bottom {
  margin-bottom: 2rem;
}

.fw--600 {
  font-weight: 600;
}

.lineH--3 {
  line-height: 3rem;
}