$screen-medium: 375px;
$screen-large: 1440px;

$fontColorLightM: #000000;
$fontColorDarkM: #ffffff;

$darkMode: #2b3945;
$heavyDark: #202c37;

$lightMode: #ffffff;
$heavyLight: #fafafa;

$boxShadowLight: #d9d9d9;
$boxShadowDark: #1e1d1d2b;