$screen-small: 375px;
$screen-large: 1100px;

$fontColorLightM: #000000;
$fontColorDarkM: #ffffff;

$darkMode: #2b3945;
$heavyDark: #202c37;

$lightMode: #ffffff;
$heavyLight: #fafafa;

$boxShadowLight: #c4c4c4;
$boxShadowDark: #1e1d1d2b;

$bgHover: #f4f4f4;